name: Terraform Pipeline

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select Environment"
        required: true
        type: choice
        options:
          - dev
          - prod
      action:
        description: "Select Terraform Action"
        required: true
        type: choice
        options:
          - plan
          - apply
          - destroy

jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    env:
      AWS_REGION: ap-south-1
      TF_DIR: envs/${{ github.event.inputs.environment }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform -chdir=${{ env.TF_DIR }} init

      - name: Terraform Validate
        run: terraform -chdir=${{ env.TF_DIR }} validate

      - name: Terraform Plan / Apply / Destroy
        run: |
          if [ "${{ github.event.inputs.action }}" == "destroy" ]; then
            terraform -chdir=${{ env.TF_DIR }} destroy -auto-approve
          elif [ "${{ github.event.inputs.action }}" == "apply" ]; then
            terraform -chdir=${{ env.TF_DIR }} apply -auto-approve
          else
            terraform -chdir=${{ env.TF_DIR }} plan
          fi
